.container {
    margin: 70px 190px 50px;
}


.heading {
    margin: 0 1rem;
    text-decoration: underline;
}


.blogs {
    margin-top: 2rem;
}


.blogItems {
    margin: 2rem 0;
}


.blogItems h3 {
    cursor: pointer;
}


.paragraph {
    margin-top: 0.5rem;
}