.container {
    max-width: 60vw;
    margin: 40px auto;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.subheading {
    margin-bottom: 10px;
    text-decoration: underline;
}

.para {
    margin-bottom: 15px;
}